
name: Deploy the backend
on:
   push: 
     branches: [ main ]


jobs:
   build:
    runs-on: ubuntu-latest
    steps:
      - name: Chechout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:

          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build the push 
        uses: docker/build-push-action@v4
        with:
            contest: .
            file: ./docker/Dockerfile.backend
            push: true
            tag: turbo/todo-app-backend:${{ github.sh}}
         